* {
	margin: 0 auto;
	padding: 0;
}

body {
	background-image: url('http://walops.com/wp-content/uploads/Chinese-New-Year-2015-Iphone-Wallpaper.jpg');

}
#nav-thryty.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#nav-thryty.navbar-default {
    font-size: 15px;
    background-color: rgba(143, 52, 52, 1);
    border-bottom-width: 0px;
}
#nav-thryty.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(148, 40, 40, 1);
}
#nav-thryty.navbar-default .navbar-nav>li>a:hover,
#nav-thryty.navbar-default .navbar-nav>li>a:focus {
    color: rgba(240, 223, 223, 1);
    background-color: rgba(158, 51, 51, 1);
}
#nav-thryty.navbar-default .navbar-nav>.active>a,
#nav-thryty.navbar-default .navbar-nav>.active>a:hover,
#nav-thryty.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(245, 240, 240, 1);
    background-color: rgba(194, 132, 132, 1);
}
#nav-thryty.navbar-default .navbar-toggle {
    border-color: #c28484;
}
#nav-thryty.navbar-default .navbar-toggle:hover,
#nav-thryty.navbar-default .navbar-toggle:focus {
    background-color: #c28484;
}
#nav-thryty.navbar-default .navbar-toggle .icon-bar {
    background-color: #c28484;
}
#nav-thryty.navbar-default .navbar-toggle:hover .icon-bar,
#nav-thryty.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #8f3434;
}
.container-4{
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-4 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-4 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-4 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 
  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -50px;
}
 
.container-4:hover button.icon:hover{
  background: white;
}

.doodle a {
	font-family: "Courier";
	font-size: 70px;
	text-align: center;
	color: gold;
	text-decoration: none;
}
.doodle a:hover {
	font-family: "Courier";
	font-size: 70px;
	text-align: center;
	color: gold;
	text-decoration: none;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #AD0101;
  text-align: center;
  display: block;
}
.footer p {
	color: gold;
}
#links li {
	padding: 0;
    list-style-type: none;
    margin: 0;
    display: inline;
}
#links a {
  font-color: white;
	text-decoration: none;
	font-size: 13px;
}